@model HelloMCV.Models.Customer
@{
    ViewBag.Title = "AddCustumer";
}

<h2>Add Custumer</h2>
<form action="ViewCustumer">
    <p>
        Name : <input type="text" name="Name" />
    </p>
    <p>
        Telephone : <input type="text" name="Telephone" />
    </p>
    <input type="submit" name="AddCustomer" />

</form>

